Importatnt imports

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
sns.set()

Importing dataset

In [2]:
df= pd.read_csv('card_transdata.csv')
df.head()

,distance_from_home,distance_from_last_transaction,ratio_to_median_purchase_price,repeat_retailer,used_chip,used_pin_number,online_order,fraud
0,57.877857,0.311140,1.945940,1.0,1.0,0.0,0.0,0.0
1,10.829943,0.175592,1.294219,1.0,0.0,0.0,0.0,0.0
2,5.091079,0.805153,0.427715,1.0,0.0,0.0,1.0,0.0
3,2.247564,5.600044,0.362663,1.0,1.0,0.0,1.0,0.0
4,44.190936,0.566486,2.222767,1.0,1.0,0.0,1.0,0.0

In [3]:
df_bck=df

In [ ]:
df.shape

In [ ]:
df.isnull().sum()

In [ ]:
for i in df:
    print('*'*10,i,'*'*10)
    print(df[i].value_counts())
    print(df[i].nunique())
    print()

In [ ]:
# checking whether the data is balenced
87403*2

In [ ]:
fig= plt.figure(figsize=(7,100))
plt.boxplot(df['distance_from_home'])

In [ ]:
# checking for out layier

In [ ]:
y= df['distance_from_home']>100
print(y.sum())

In [ ]:
y= df['distance_from_home']<100
print(y.sum())

In [ ]:
ax= sns.boxplot(y='distance_from_home', data=df)
plt.ylim(0,75)

In [ ]:
df.drop(df[df['distance_from_home']>100].index,inplace= True)
df.reset_index(inplace=True)
df.drop('index',axis=1, inplace=True)

In [ ]:
df

In [ ]:
df.shape

In [ ]:
#scaling the data set

In [ ]:
from sklearn.preprocessing import StandardScaler
scaler= StandardScaler()
df_1= pd.DataFrame(scaler.fit_transform(df[['distance_from_home','distance_from_last_transaction','ratio_to_median_purchase_price']]),columns=['distance_from_home','distance_from_last_transaction','ratio_to_median_purchase_price'])

In [ ]:
df_1

In [ ]:
df.columns

In [ ]:
df_1[['repeat_retailer', 'used_chip',
       'used_pin_number', 'online_order', 'fraud']]=df[['repeat_retailer', 'used_chip',
       'used_pin_number', 'online_order', 'fraud']]

In [ ]:
df_1

In [ ]:
df_1.corr()

In [ ]:
# train test split

In [ ]:
x = df_1.drop('fraud',axis=1)

In [ ]:
x

In [ ]:
y= df_1['fraud']

In [ ]:
y

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, confusion_matrix
train_x,test_x,train_y,test_y= train_test_split(x,y, test_size= 0.2, random_state=2)

In [ ]:
train_x

In [ ]:
train_y.value_counts()
print(train_y.shape)

In [ ]:
test_x

In [ ]:
test_y.value_counts()
test_y.shape

In [ ]:
from sklearn.ensemble import RandomForestClassifier
classifier= RandomForestClassifier()
classifier.fit(train_x,train_y)

In [ ]:
classifier_prd=classifier.predict(test_x)

In [ ]:
svc_accuracy= accuracy_score(classifier_prd,test_y)

In [ ]:
svc_accuracy

In [ ]:
from sklearn.neighbors import KNeighborsClassifier
knn= KNeighborsClassifier()
knn.fit(train_x,train_y)

In [ ]:
knn_prd= knn.predict(test_x)

In [ ]:
knn_accuracy= accuracy_score(test_y,knn_prd)
print(knn_accuracy)

Prediction_with_outlaiers

In [9]:
df_bck.columns

Index(['distance_from_home', 'distance_from_last_transaction',
       'ratio_to_median_purchase_price', 'repeat_retailer', 'used_chip',
       'used_pin_number', 'online_order', 'fraud'],
      dtype='object')

In [14]:
from sklearn.preprocessing import StandardScaler
scaler= StandardScaler()

In [15]:
df_bck_scaled= pd.DataFrame(scaler.fit_transform(df_bck[['distance_from_home', 'distance_from_last_transaction',
       'ratio_to_median_purchase_price']]),columns=['distance_from_home', 'distance_from_last_transaction',
       'ratio_to_median_purchase_price'])

In [16]:
df_bck_scaled

,distance_from_home,distance_from_last_transaction,ratio_to_median_purchase_price
0,0.477882,-0.182849,0.043491
1,-0.241607,-0.188094,-0.189300
2,-0.329369,-0.163733,-0.498812
3,-0.372854,0.021806,-0.522048
4,0.268572,-0.172968,0.142373
...,...,...,...
999995,-0.373473,-0.190529,-0.070505
999996,-0.103318,-0.091035,0.340808
999997,-0.362650,-0.137903,-0.573694
999998,-0.342098,-0.185523,-0.481628
999999,0.481403,-0.182579,-0.513384

In [17]:
df_bck_scaled[['repeat_retailer', 'used_chip',
       'used_pin_number', 'online_order', 'fraud']]= df_bck[['repeat_retailer', 'used_chip',
       'used_pin_number', 'online_order', 'fraud']]

In [18]:
df_bck_scaled

,distance_from_home,distance_from_last_transaction,ratio_to_median_purchase_price,repeat_retailer,used_chip,used_pin_number,online_order,fraud
0,0.477882,-0.182849,0.043491,1.0,1.0,0.0,0.0,0.0
1,-0.241607,-0.188094,-0.189300,1.0,0.0,0.0,0.0,0.0
2,-0.329369,-0.163733,-0.498812,1.0,0.0,0.0,1.0,0.0
3,-0.372854,0.021806,-0.522048,1.0,1.0,0.0,1.0,0.0
4,0.268572,-0.172968,0.142373,1.0,1.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...
999995,-0.373473,-0.190529,-0.070505,1.0,1.0,0.0,0.0,0.0
999996,-0.103318,-0.091035,0.340808,1.0,1.0,0.0,0.0,0.0
999997,-0.362650,-0.137903,-0.573694,1.0,1.0,0.0,1.0,0.0
999998,-0.342098,-0.185523,-0.481628,1.0,0.0,0.0,1.0,0.0
999999,0.481403,-0.182579,-0.513384,1.0,1.0,0.0,1.0,0.0

In [25]:
m= df_bck_scaled.drop('fraud',axis=1)
print(m.shape)

(1000000, 7)

In [24]:
n= df_bck_scaled['fraud']
print(n.shape)

(1000000,)

In [26]:
from sklearn.model_selection import train_test_split
train_m,test_m,train_n,test_n= train_test_split(m,n, test_size= 0.2, random_state=2)

In [27]:
print(train_m.shape)
print(train_n.shape)
print(test_m.shape)
print(test_n.shape)

(800000, 7)
(800000,)
(200000, 7)
(200000,)

In [28]:
from sklearn.ensemble import RandomForestClassifier
classifier= RandomForestClassifier()
classifier.fit(train_m,train_n)

RandomForestClassifier()

In [29]:
classifier_prd= classifier.predict(test_m)

In [30]:
from sklearn.metrics import accuracy_score, confusion_matrix

In [34]:
calssifier_accuracy= accuracy_score(classifier_prd, test_n)
print(calssifier_accuracy)

0.99999